In [2]:
import pandas as pd
import numpy as np
import re
from nltk import wordpunct_tokenize, word_tokenize, sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [3]:
# Reading in the data

Combined_Lyrics = pd.read_csv('Combined_Lyrics.csv')

In [4]:
Combined_Lyrics.Genre.value_counts()

Rock       3277
Rap        2650
Country    2419
RnB        2388
Pop        1300
Name: Genre, dtype: int64

In [7]:
from collections import Counter
pd.DataFrame(Counter(" ".join(Combined_Lyrics[Combined_Lyrics.Genre == 'Rock']['Lyrics']).split()).most_common(5)).rename(columns = {0:'Word',1:'Count'})

   Word  Count
0  love   4927
1  time   3124
2  come   2877
3  want   2522
4   see   2501